body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mukta', sans-serif; /* Apply the font to the entire document */
}

.full-screen-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Places the image behind other content */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
}

canvas {
  /* SYD: you only need this here, the other 
  stuff was messing with the rest of your css file */
  display: block;
}

/* Syd: Not sure we need this
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; 
  
}
  */

h1 {
  color: white; /* Adjust color as needed */
  font-family: 'Mukta', sans-serif; /* Apply the font to the h1 element */
  font-weight: 700; /* Use bold weight */
  margin-bottom: 20px; /* Add some space below the h1 */
}

.navigate-button {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Mukta', sans-serif;
  font-weight: 700;
  color: white;
  background-color: #007BFF; /* Button background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  top: 50%; /* SYD: (you may want to change the position)Position it 50% from the top */
  left: 50%; /* SYD: Position it 50% from the left */
  position: absolute; /* Syd: had to add this to make z index work */
  z-index: 0; /* Ensure it's behind canvas and 
                  above the image */

  
  
}

.navigate-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}