html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mukta', sans-serif;
}

.full-screen-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Places the image behind other content */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; /* Ensure it is behind other content but above the background image */
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1; /* Ensure it is above the canvas */
}

h1 {
  color: rgb(0, 0, 0); /* Adjust color as needed */
}
